{% extends "base.html" %}

{% block title %} &bull; Código de Conduta{% endblock title %}

{% block meta %}
	<meta property="og:image" content="https://eventos.conhub.pt/logo.png">
	<meta property="og:title" content="Código de Conduta - {{ sitename }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ rooturl }}{{ link }}">
	<meta property="og:description" content="Convenções são espaços populares de paixão e experiências compartilhadas. Este código de conduta global promove ambientes seguros, inclusivos e acolhedores para todos." />
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<center><h2 class="section highlighted-title">Código de Conduta</h2></center>
			
			<hr>
			<a id="indice" href="#indice"><h3>Índice</h3></a>
				<ol>
					<li><a href="#politicas-gerais">Políticas Gerais</a></li>
                                        <li><a href="#politica-divulgacao">Política de Divulgação</a></li>
					<li><a href="#politica-assedio">Política Assédio</a></li>
					<li><a href="#politica-fotovideo">Política de Fotografia ou Gravação de Vídeo</a></li>
				</ol>

			<hr>
			<a id="missao" href="#missao"><h3>Missão</h3></a>
			
			<p>
				A fim de tornar a experiência dos visitantes nas convenções, uma experiência agradável,
				convenções que seguem este <i>Código de Conduta</i> recomendam que todos observem as seguintes regras.
			</p>
			<p>
				As pessoas que violarem este <i>Código de Conduta</i> podem ser convidadas a deixar os eventos
				que no qual estão a participar.
			</p>
			<p>
				Se o evento for privado mediante a pagamento, por favor, tenha a sua identificação do evento
				abertamente exibido consigo em todos os momentos enquanto estiver em qualquer um dos espaços das convenções.
			</p>
			<p>
				A equipa executiva dos eventos reservam o direito de recusar a entrada nos eventos ou serviços
				a qualquer indivíduo, ou grupo, a qualquer momento.
			</p>

			<hr>
			<a id="politicas-gerais" href="#politicas-gerais"><h3>Políticas Gerais</h3></a>

			<p>
				<ul>
					<li>Use o bom senso, respeite os outros participantes e funcionários. Trate os outros como gostaria de ser tratado.</li>
					<li>Respeite o espaço pessoal de todos.</li>
					<li>Desloque-se cuidadosamente pelo espaço das convenções e mantenha o fluxo de tráfego.</li>
					<li>Tenha cuidado com os adereços e não corra dentro de espaços fechados</li>
					<li>Cumpra sempre todas as leis, decretos e regulamentos.</li>
					<li>Proibido conduta desordeira, como embriaguez e desordem pública, exposição indecente, mendicidade ou solicitação.</li>
					<li>Não fumes ou uses vapes no interior de edifícios públicos, ou a menos de 10 metros de qualquer entrada das convenções.</li>
					<li>Não durmas nos corredores ou nos espaços interiores das convenções.</li>
					<li>Comunica bens roubados ou danificados e/ou os danos pessoais aos funcionários de serviço da convenção, não tentes resolver o assunto por ti próprio.</li>
					<li>É proibido o consumo de álcool por menores de idade! Se for apanhado a servir ou a facilitar a bebida a menores, será expulso permanentemente e ainda enfrentará acusações criminais.</li>
					<li>Não ataque verbalmente, abuse, assedie ou ameace a raça, religião, opiniões políticas, género, orientação, idade ou outros atributos protegidos de ninguém.</li>
					<li>Ataques pessoais e o assédio não são permitidos.</li>
					<li>Não são permitidos o fanatismo, a homofobia, a transfobia, o racismo, o sexismo e outras formas de preconceito.</li>
				</ul>
			</p>


			<hr>
			<a id="politica-divulgacao" href="#politica-divulgacao"><h3>Política de Divulgação</h3></a>

			<p>
				A transparência nas informações é essencial para garantir que todos os participantes estejam cientes das expectativas de comportamento e dos princípios de respeito e inclusão.
			</p>

			<p>
				É obrigação dos organizadores de eventos, convenções e encontros divulgarem de forma clara e acessível o Código de Conduta do ConHubPT aos visitantes.
			</p>

			<p>Para cumprir esta política, os organizadores devem seguir as seguintes diretrizes:</p>

			<p>
				<ul>
					<li><b>Cartazes e Avisos</b>: Deve ser afixado um cartaz destacado em locais de fácil visualização no local do evento, contendo informações resumidas sobre o Código de Conduta. Os cartazes devem incluir instruções para acessar a versão completa do Código de Conduta.</li>
					<li><b>Informação no Website</b>: O Código de Conduta deve ser claramente disponibilizado na página oficial do evento ou no seu website oficial. Deve haver um link visível para acesso rápido à versão completa do Código de Conduta.</li>
					<li><b>Inclusão em Materiais Impressos</b>: Em materiais impressos distribuídos aos participantes, como programas e guias do evento, deve constar uma referência explícita ao Código de Conduta e onde encontrá-lo.</li>
					<li><b>E-mails e Comunicações</b>: Os organizadores devem incluir informações sobre o Código de Conduta nos e-mails e outras comunicações oficiais enviadas aos participantes antes do evento.</li>
					<li><b>Redes Sociais</b>: Nos canais de redes sociais utilizados para divulgar o evento, deve haver publicações dedicadas ao Código de Conduta, incentivando a leitura e o cumprimento das diretrizes por todos.</li>
				</ul>
			</p>
			
			<p>
				A adoção e cumprimento dessa política reforçam nosso compromisso com a segurança, inclusão e respeito mútuo em todas as convenções e encontros da comunidade de cultura pop.
			</p>

			<hr>
			<a id="politica-assedio" href="#politica-assedio"><h3>Política de Assédio</h3></a>

			<p>
				Se o comportamento de alguém esteja a fazer-lhe sentir indesejado, inseguro ou desconfortável, isso é assédio.
			</p>

			<div class="alert alert-info" role="alert">
				Esta política aplica-se sem exceção a todos os participantes na convenção, incluindo participantes, membros de painéis, vendedores, convidados, equipa da convenção e equipa do establecimento.
			</div>

			<p>
				Os eventos que se regem por este <i>código de conduta</i> têm tolerância zero a qualquer tipo de assédio, incluindo, entre outros, comportamentos como:
				<br>
			</p>
				<ul>
					<li>perseguição;</li>
					<li>comentários ofensivos;</li>
					<li>comentários de carácter sexual;</li>
					<li>discurso de ódio;</li>
					<li>policiamento de casas de banho;</li>
					<li>contacto físico inadequado ou indesejado;</li>
					<li>gravar ou tirar fotografias/vídeos sem autorização;</li>
					<li>interromper repetidamente conversas que lhe tenham sido pedidas para se retirar.</li>
				</ul>
			<p>
				Relembramos que cosplay não é consentimento.
			</p>
			<p>
				Os comentários ou discursos de ódio acima mencionados podem estar relacionados com:
				<br>
				<ul>
					<li>idade;</li>
					<li>raça ou etnia;</li>
					<li>cor;</li>
					<li>cidadania ou nacionalidade;</li>
					<li>estado de relacionamento;</li>
					<li>orientação sexual;</li>
					<li>identidade ou apresentação de género;</li>
					<li>aparência;</li>
					<li>vestuário;</li>
					<li>tamanho do corpo;</li>
					<li>gravidez;</li>
					<li>deficiência;</li>
					<li>religião.</li>
				</ul>
				Esta lista não é exaustiva.
			</p>
			<p>
				O debate ou as imagens relacionadas com sexo, pornografia, linguagem discriminatória ou semelhantes são bem-vindos satisfizerem-se todos os critérios seguintes: <ul>
					<li>Os organizadores concederam especificamente autorização por escrito;</li>
					<li>É necessário para o tópico em discussão e não existe alternativa;</li>
					<li>É apresentado de forma respeitosa, especialmente em relação às mulheres e às pessoas LGBTQIA+;</li>
					<li>Os participantes são avisados com antecedência no programa e respeitosamente avisados com antecedência e com oportunidade de sair.</li>
				</ul>
				Esta exceção não permite especificamente a utilização de imagens de cariz sexual indesejadas para chamar a atenção ou como exemplos desnecessários.
			</p>
			<p>
				<center>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#reportarassedio" aria-expanded="false" aria-controls="reportarassedio">
						O que fazer se for vítima de assédio?
					</button>
				</center>
				<div class="collapse" id="reportarassedio">
					<br>
					<div class="card card-body">
						Se estiver a sentir-se assediado, ou vir alguém a ser assediado, informe imediatamente alguém da equipa do evento em que se encontra. Também está no seu direito de pedir ao assediador para parar.
						<br><br>
						Pede-se também à equipa dos eventos que tomem medidas para ajudar a vítima a se sentir segura novamente, caso seja solicitado, como acompanhá-la a um lugar onde se sinta segura, entrar em contato com os seus amigos, familiares, ou com a polícia.
					</div>
				</div>
			</p>
		
			<hr>
			<a id="politica-fotovideo" href="#politica-fotovideo"><h3>Política de Fotografia ou Gravação de Vídeo</h3></a>
			
			
			<p>
				Seja educado com a sua câmara e da forma como conduz a sua fotografia ou gravação de vídeo. Fotografia e a gravação de vídeo são geralmente permitidas.
			<p>
			<p>
				É estritamente proibido tirar uma fotografia ou fazer a gravação de vídeo a qualquer pessoa que lhe peça para não o fazer ou que demonstre, pela sua linguagem corporal, que não deseja ser fotografada ou filmada.
			</p>
			<p>
				Também é proibido tirar uma fotografia ou gravar se uma pessoa razoável souber que os sujeitos provavelmente não querem ser fotografados ou filmados nessas circunstâncias.
			</p>
			<p>
				Não é permitido fotografar ou gravar em qualquer secção do evento em que o anfitrião lhe peça para não o fazer, em que haja um sinal a proibi-lo.
			</p>
			
			<h4>Atenção a ter quando for fotografar ou gravar:</h4>
			
			<p>
				<ul>
					<li>Saia do fluxo de tráfego quando tirar fotografias ou a fazer a gravação de vídeo.</li>
					<li>Sim, pode posar com o seu adereço. No entanto, deve ter cuidado ao abanar o adereço para gravações em vídeo.</li>
					<li>Cuidado ao apontar o adereço a alguém, manter sempre uma distância segura.</li>
				</ul>
			</p>

    </div>
  </div>
{% endblock %}
