{% extends "base.html" %}

{% block title %} &bull; Contacto{% endblock title %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<p>Agradecemos o vosso interesse em entrar em contato com a equipa do ConHubPT. Estamos aqui para responder às vossas perguntas, receber feedback e colaborar com a comunidade de cultura pop.</p>
			<p>Há duas maneiras principais de nos contatar:</p>
			<ul>
				<li><b>Email</b>: Para uma resposta direta e personalizada, envie-nos um email para <a href="mailto:contato@conhub.pt">contato@conhub.pt</a>. Teremos prazer em receber as vossas mensagens, responder às vossas dúvidas e fornecer qualquer informação adicional que possam precisar.</li>
				<li><b>Discord</b>: Também estamos abertos a convites para servidores de Discord de comunidades, onde podemos representar o projeto e interagir diretamente com os membros. Se tem um servidor de Discord relacionado à cultura pop e gostaria que nossa equipe participasse, entre em contato por email para discutirmos essa possibilidade.</li>
				<li><b>Redes Socaisi</b>: Para uma mensagem mais direta caso estejamos disponíveis podem sempre nos contactar no <a href="https://instagram.com/conhubpt">Instagram</a> ou <a href="https://twitter.com/conhubpt">Twitter</a>.</li>
			</ul>
			<p>Valorizamos a comunicação aberta e estamos sempre prontos para ouvir as opiniões e sugestões da comunidade. Seja um fã de convenções, organizador de eventos ou simplesmente alguém interessado na nossa iniciativa, gostariamos de vos ouvir!</p>
		</div>
	</div>
{% endblock %}