{% extends "base.html" %}

{% block title %} &bull; About{% endblock title %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-lg-10">
		<center><h2 class="section highlighted-title">Hub para convenções de Cultura Pop em Portugal</h2></center>
		<hr>

		<h3 class="section">missão</h3><br/>

		<p>
			A missão do ConHubPT é fortalecer e unir a comunidade de cultura pop, fornecendo ferramentas e recursos que promovem a inclusão, compartilhamento de conhecimento e criação de um ambiente acolhedor.
		</p>
		<p>
			Os nossos projetos refletem a nossa missão de fortalecer a comunidade de cultura pop. Desenvolvemos um código de conduta abrangente para garantir um ambiente seguro e respeitoso em convenções e encontros. Criamos uma página de eventos para promover iniciativas emocionantes e facilitar a sua descoberta. A nossa wiki comunitária é um repositório colaborativo de conhecimento, com guias, relatos de eventos e concursos anteriores. Valorizamos a inclusão e boas-vindas, apoiando novos membros com recursos e informações para uma integração positiva. Junte-se a nós para uma comunidade unida e acolhedora na cultura pop.
		</p>
		<p>
			Na ConHubPT, estamos comprometidos em promover uma cultura de respeito, diversidade e colaboração. Queremos criar um espaço onde todos se sintam valorizados, envolvidos e tenham a liberdade de expressar a sua paixão pela cultura pop.
		</p>
		<p>
			Junte-se a nós nessa jornada de fortalecer e unir a comunidade de cultura pop. Estamos de braços abertos para receber novas pessoas e construir um ambiente inclusivo e apaixonante juntos.
		</p>
		
		<hr>

		<h3 class="section">serviços</h3><br/>
		
		<div class="row">
		  <div class="col-sm-6">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title">Calendário de Eventos</h5>
				<p class="card-text">Uma forma mais fácil de procurar convenções e meets de Cultura Pop por Portugal gerido pela comunidade.</p>
				<a href="https://eventos.conhub.pt" class="btn btn-primary">Saiba Mais</a>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title">Proposta de Políticas da ConHubPT</h5>
				<p class="card-text">Propomos um código de conduta global com políticas que visam tornar as convenções seguras, inclusivas e acolhedoras.</p>
				<a href="/proposta-politicas" class="btn btn-primary">Saiba Mais</a>
			  </div>
			</div>
		  </div>
		</div>

	</div>
</div>
{% endblock %}
