{% extends "base.html" %}

{% block title %} &bull; Políticas{% endblock title %}

{% block meta %}
	<meta property="og:image" content="https://eventos.conhub.pt/logo.png">
	<meta property="og:title" content="Proposta de Políticas - {{ sitename }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ rooturl }}{{ link }}">
	<meta property="og:description" content="Convenções são espaços populares de paixão e experiências compartilhadas. Propomos um código de conduta global promove ambientes seguros, inclusivos e acolhedores para todos." />
{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-lg-10">
		<center><h2 class="section highlighted-title">Proposta de Políticas da ConHubPT</h2></center>
		<hr>
	
		<h3>Missão</h3>
		<p>
			Numa comunidade em constante evolução e crescimento, as convenções tornaram-se espaços incrivelmente populares, reunindo pessoas com interesses comuns, compartilhando paixões e experiências.
		</p>
		
		<p>
			No entanto, é essencial garantir que esses ambientes sejam seguros, inclusivos e acolhedores para todos os participantes.
		</p>
		
		<p>
			É por isso que criamos um <i>código de conduta global</i> e um <i>conjunto de políticas</i> para adoção geral em todas as convenções, visando tornar esses eventos mais seguros e promover uma cultura de respeito mútuo.
		</p>
	  
		<br>
		<center><a class="btn btn-primary btn-lg" href="/codigo-de-conduta" role="button">Código de Conduta Global</a></center>
		<br>

		<h3>Segurança</h3>

		<p>
			A segurança e o bem-estar dos participantes são de extrema importância em qualquer evento.
		</p>
		
		<p>
		Infelizmente, existem casos de assédio, discriminação e comportamentos inapropriados que podem afetar negativamente a experiência das pessoas.
		</p>
		
		<p>
			Procuramos combater estes problemas por meio de um código de conduta abrangente e políticas que estabelecem diretrizes claras para o comportamento esperado de todos os envolvidos nas convenções.
		</p>

		<h3>Inclusão e diversidade</h3>

		<p>
			As convenções são espaços que reúnem pessoas de diferentes origens, culturas, etnias, identidades de género, orientações sexuais e habilidades.
		</p>
		
		<p>
			É fundamental garantir que todos os participantes se sintam representados, valorizados e seguros.
		</p>
		
		<p>
			O <i>código de conduta global</i> e o <i>conjunto de políticas</i> promove a inclusão e a diversidade, estabelecendo uma base sólida para a igualdade de oportunidades, a não discriminação e o respeito mútuo entre todos os envolvidos.
		</p>

		<h3>Transparência e responsabilidade</h3>

		<p>
			Para promover transparência e responsabilidade da nossa parte.
		</p>
		
		<p>
			As nossas políticas e as suas alterações são divulgadas publicamente, garantindo que todos os participantes tenham conhecimento prévio das expectativas e diretrizes estabelecidas.
		</p>

		<h3>Adoção global</h3>

		<p>
			Convidamos organizadores de convenções, palestrantes, expositores e participantes a se unirem a nós nesse esforço conjunto para criar um ambiente cada vez melhor e mais seguro para todos. Teremos uma página onde vão estar todos os eventos que adotaram o nosso <i>código de conduta global</i> e o <i>conjunto de políticas</i>.
		</p>

	</div>
</div>
{% endblock %}